/* Theme Icon */
html.light {
    background-color: var(--background-light);
    color: var(--text-light);
}

.light .navbar__title > a {
    color: var(--text-light);
}

.light .navbar__menu > a {
    color: var(--text-light);
}

.light .card__title {
    color: var(--text-light); 
}

.light .card__txt {
    color: var(--text-light); 
}

.light .btn {
    color: var(--text-light);
}

.light .btn:hover {
    color: var(--text);
}

.light .icon__link {
    border: 2px solid var(--text-light);
}

.light .icon__link:hover {
    border-color: var(--text-link);
}

.light .git-icon {
    content: url("/github-mark.svg");
}

.light .mail-icon {
    content: url("/mail.svg");
}

.light .works-hero img {
    content: url("/works-light.svg");
}

.light .project-hero img {
    content: url("/project-light.svg");
}

.light .posts-hero img {
    content: url("/posts-light.svg");
}

.light .badge__link {
    color: var(--text-link);
}
