---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.pcss';
const description = "oh no!";
---
<Layout pageTitle={description}>
    <section id="lost">
        <Hero />
        <h1 class="lost__header brand">{description}</h1>
        <p class="grey" title="404">this place doesn't exist</p>
        <p>
            <a href="/" aria-label="Return to homepage">
                <button class="btn">return home</button>
            </a>
        </p>
    </section>
</Layout>

<style>
    #lost {
        margin-top: 25%;
        text-align: center;
    }

    .lost__header {
        margin: 10px auto;
        text-align: center;
        border: 0;
        font-size: 5.0rem;
        letter-spacing: 0.20rem;
    }
</style>
