---
const description = "oh no!";
import Hero from '../components/Hero.astro';
import '../styles/global.pcss';
---
<layout>
    <div class="lost">
        <Hero />
        <h1 class="lost__header brand">{ description }</h1>
        <p class="lost__body grey">this place doesn't exist</p>
        <p>
            <a class="lost__link" href="/">Return Home</a>
        </p>
    </div>
</layout>
