---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import '../styles/global.pcss';
const description = "oh no!";
---
<Layout pageTitle={description}>
    <section id="lost" class="center">
        <h1 class="lost__header brand">{description}</h1>
        <p class="grey" title="404">this place doesn't exist</p>
        <p>
            <Button url="/" label="Return to homepage">return home</Button>
        </p>
    </section>
</Layout>

<style>
    .lost__header {
        margin: 10px auto;
        text-align: center;
        border: 0;
        font-size: 5.0rem;
        letter-spacing: 0.20rem;
    }
</style>
