---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
const title = "bayrock.dev";
const description = "I'm a fullstack developer, designer and consultant w/ an extensive background and passion in technology."
---
<Layout title={title} description={description}>
    <section id="about">
        <h2>About</h2>
        <p>
            {description}
        </p>
        <p>
            I strive to design, build and deploy <a id="projects" class=" dotted" href="/projects/#heading">projects</a> and services stylishly and efficiently whilst remaining true to my humble hobbyist roots.
            We should work together! (;
        </p>
        <div class="center">
            <Button url="#contact" label="View contact links">contact me</Button>
        </div>
    </section>
    <section id="skills">
        <h2>Skills</h2>
        <div class="skills center">
            <img class="skills__img" width="30" height="30" title="HTML" src="/icons/dev/html5-original.svg"/>
            <img class="skills__img" width="30" height="30" title="CSS" src="/icons/dev/css3-original.svg"/>
            <img class="skills__img" width="30" height="30" title="JavaScript" src="/icons/dev/javascript-original.svg"/>
            <img class="skills__img" width="30" height="30" title="Elixir" src="/icons/dev/elixir-original.svg"/>
            <img class="skills__img" width="30" height="30" title="Figma" src="/icons/dev/figma-original.svg"/>
            <img class="skills__img invert-black" width="30" height="30" title="Astro" src="/icons/dev/astro-plain.svg"/>
            <img class="skills__img" width="30" height="30" title="Vite" src="/icons/dev/vitejs-original.svg"/>
            <img class="skills__img" width="30" height="30" title="Arch (Linux)" src="/icons/dev/archlinux-original.svg"/>
            <img class="skills__img" width="30" height="30" title="Git" src="/icons/dev/git-original.svg"/>
        </div>
    </section>
    <section id="interests">
        <h2>Interests</h2>
        <p>
            I enjoy coding, <a id="typing" class="dotted" href="/keyboard/#heading">typing</a>, anime, music, and learning new things!<br>
            I'm currently single and identify as <a id="transfeminine" class="dotted" href="/blurb/transfeminine/#heading">transfeminine</a> 
            and <a id="pansexual" class="dotted" href="/blurb/pansexual/#heading">pansexual</a>.
        </p>
    </section>
</Layout>

<style>
    .skills { margin-top: 8px; }
    .skills__img { margin: 8px 1px; }

    @media only screen and (min-width: 600px) {
        .skills__img {
            height: 46px;
            width: 46px;
            margin: 8px 4px;
        }
    }
</style>

<script>
    const contactButton = () => {
        const contact = document.getElementById("contact");
        if (window.location.hash == "#contact")
            contact?.classList.add("flash");

        const button = document.getElementById("call-to-action");
        button?.addEventListener("click", () => {
            contact?.classList.remove("flash");
            setTimeout(() => {
                contact?.classList.add("flash");
            }, 50);
        });
    }

    document.addEventListener('astro:page-load', contactButton);
</script>
