---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
const pageTitle = "bayrock.dev";
---
<Layout pageTitle={pageTitle}>
    <Hero />
    <h2>About</h2>
    <p>
        I'm a fullstack developer, designer and consultant w/ an extensive background and passion in technology.
    </p>
    <p>
        I strive to design, build and deploy projects and services stylishly and efficiently whilst remaining true to my humble hobbyist roots.
        We should work together! (;
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn hidden">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" title="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" title="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" title="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" title="Elixir" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/elixir/elixir-original.svg"/>
        <img class="skills__img" width="46" height="46" title="Figma" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg"/>
        <img class="skills__img invert-black" width="46" height="46" title="Astro" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-plain.svg"/>
        <img class="skills__img" width="46" height="46" title="Vite" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vitejs/vitejs-original.svg"/>
        <img class="skills__img" width="46" height="46" title="Arch (Linux)" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/archlinux/archlinux-original.svg"/>
        <img class="skills__img" width="46" height="46" title="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        I enjoy coding, gaming, anime, music, and learning new things!<br>
        I'm currently single and identify as transfeminine and pansexual.
    </p>
</Layout>
