---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <Hero />
    <section>
        <h2>Blog</h2>
        <ul role="list" class="grid">
            <Card
                url="#"
                image="/placeholder.webp"
                title="Post 1"
                desc="Coming soon!"
            />
            <Card
                url="#"
                image="/placeholder.webp"
                title="Post 2"
                desc="Coming soon!"
            />
        </ul>
    </section>
</Layout>
