---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul id="contact" class="icon__list">
            <li class="icon__btn"><a class="icon__link circle" href="https://github.com/bayrock" title="GitHub" target="_blank"><img src="/icons/github.svg" alt="gh" class="invert-white" width="20" height="20"></a></li>
            <li class="icon__btn"><a class="icon__link circle" href="https://bsky.app/profile/bayrock.dev" title="Bluesky" target="_blank"><img src="/icons/bluesky.svg" alt="bsky" class="invert-white" width="20" height="20"></a></li>
            <li class="icon__btn"><a id="discord_link" class="icon__link circle" href="https://discord.com/users/276359151037448192" title="Discord" target="_blank"><img src="/icons/discord.svg" alt="dc" class="invert-white" width="20" height="20"></a></li>
            <li class="icon__btn"><a class="icon__link circle" href="mailto: askbayrock@proton.me" title="Email"><img src="/icons/mail.svg" alt="mail" class="invert-white" width="20" height="20"></a></li>
        </ul>
        <small>&copy; {year} | made with ❤ | <a class="accent link" href="https://github.com/bayrock/bayrock.github.io/commits/main" title="changelog" target="_blank">changelog</a></small>
        <br><img src="/icons/clock.svg" alt="clock" class="icon__clock invert-white" width="12" height="12"> <small id="clock"><slot>00:00</slot></small> <small title="timezone" class="grey">(UTC -05:00)</small>
    </div>
</footer>

<style>
    footer { margin: 3.1rem 0; }

    #contact:target { border: 2px dotted var(--accent); }

    .icon__list {
        max-width: fit-content;
        list-style: none;
        border-radius: 8px;
        padding: 8px 16px;
        margin: 8px auto;
    }

    .icon__btn {
        display: inline-block;
        padding: 0 0.5rem;
    }

    .icon__link {
        display: flex;
        padding: 10px;
        height: 20px;
        width: 20px;
        border: 2px solid var(--pink);
    }

    .icon__link:hover { border-color: var(--accent); }
    .icon__clock { vertical-align: -1.5px; }

    :global(.light .icon__link) { border: 2px solid black; }
    :global(.light .icon__link:hover) { border-color: var(--accent); }
</style>

<script>
    // Realtime clock logic
    const updateClock = () => {
        const clock = document.getElementById('clock');
        if (!clock) return;
    
        const now = new Date();
        const formattedTime = new Intl.DateTimeFormat('en-US', {
            hour: '2-digit',
            minute: '2-digit',
            hour12: false,
            timeZone: 'America/New_York'
        }).format(now);
        
        clock.textContent = formattedTime;
    }

    updateClock();
    document.addEventListener('astro:after-swap', updateClock);
    setInterval(updateClock, 1000);

    // Dynamic Discord link
    const updateDiscord = () => {
        const discordLink = document.getElementById("discord_link");
        const isMobile = /Mobi|Android/i.test(navigator.userAgent);
        if (!discordLink || isMobile) return;

        discordLink.setAttribute("href", "discord://discord.com/users/276359151037448192");
        discordLink.setAttribute("target", "");
    }

    updateDiscord();
    document.addEventListener('astro:after-swap', updateDiscord);
</script>
