---
import Clock from "./Clock.jsx";
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="icon__list">
            <li class="icon__btn"><a class="icon__link" href="https://github.com/bayrock" title="GitHub" target="_blank"><img src="/github.svg" class="invert-white" alt="gh"></a></li>
            <li class="icon__btn"><a class="icon__link" href="https://discordapp.com/users/276359151037448192" title="Discord" target="_blank"><img src="/discord.svg" class="invert-white" alt="dc"></a></li>
            <li class="icon__btn"><a class="icon__link" href="mailto: askbayrock@proton.me" title="Email"><img src="/mail.svg" class="invert-white" alt="mail"></a></li>
        </ul>
        <small>&copy; {year} | made with ❤ | <a class="accent link" href="https://github.com/bayrock/bayrock.github.io/commits/main/" title="changelog" target="_blank">changelog</a></small>
        <br><img src="/clock.svg" class="icon__clock invert-white" alt="clock"> <Clock client:visible/> <small title="timezone" class="grey">(UTC -05:00)</small>
    </div>
</footer>

<style>
    footer { margin: 4rem 0; }

    .icon__list {
        cursor: default;
        list-style: none;
        padding: 0;
    }

    .icon__btn {
        display: inline-block;
        padding: 0 0.5rem;
    }

    .icon__link {
        display: flex;
        padding: 10px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid var(--pink);
    }

    .icon__link:hover { border-color: var(--accent); }
    .icon__clock { vertical-align: -1.5px; }

    :global(.light .icon__link) { border: 2px solid black; }
    :global(.light .icon__link:hover) { border-color: var(--accent); }
</style>
