---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://github.com/bayrock" title="GitHub" target="_blank"><img src="/github.svg" class="invert-white"></a></li>
            <li class="icon__btn"><a class="icon__link" href="mailto: askbayrock@proton.me" title="Email"><img src="/mail.svg" class="invert-white"></a></li>
        </ul>
        <small>&copy; {year} | made with ❤ | <a class="badge__link" href="https://github.com/bayrock/bayrock.github.io/commits/main/" title="changelog" target="_blank">changelog</a></small>
    </div>
</footer>
