---
import Avatar from '../components/Avatar.astro';
---
<div class="center" style="margin-top: 20px;">
    <Avatar />
    <h1>Bailey<span title="pronouns" class="grey" style="font-size: 0.8rem;"> (she/her)</span></h1>
    <span class="badge">Developer & Designer</span>
</div>
