---
import Avatar from '../components/Avatar.astro';
---
<aside class="center" style="margin-top: 20px;">
    <figure>
        <Avatar />
        <figcaption>
            <h1>Bailey<span title="pronouns" class="grey" style="font-size: 0.8rem;"> (she/they)</span></h1>
            <span class="badge">Developer & Designer</span>
        </figcaption>
    </figure>
</aside>
