---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">bayrock.dev</a>
    </div>
    <div class="navbar__menu">
        <a href="/projects/" class="hidden">Works</a>
        <a href="/posts/" class="hidden">Posts</a>
        <ThemeIcon />
    </div>
</div>

<style>
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0.8rem;
    }

    .navbar__title {
        font-family: var(--header);
        font-size: 1.3rem;
    }

    .navbar__menu {
        font-family: var(--body);
        font-size: 1.1rem;
        text-align: right;
    }

    .navbar__title > a, .navbar__menu > a {
        color: white;
        text-decoration: none;
    }

    .navbar__menu > a {
        margin: 0 10px;
    }

    .navbar__title > a:hover, .navbar__menu > a:hover, .navbar__menu > a:focus {
        text-decoration: underline var(--brand);
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
    }
    
    .light .navbar__title > a {
        color: black;
    }

    .light .navbar__menu > a {
        color: black;
    }

    @media only screen and (max-width: 600px) {
        .navbar { display: initial; }
        .navbar__title { text-align: center; }
        .navbar__menu { text-align: center; }
        .navbar__menu > a { margin: 0 11px; }
    }
</style>
