---
import ThemeIcon from './ThemeIcon.astro';
---
<nav class="navbar">
    <a href="/" id="home" class="navbar__title">bayrock.dev</a>
    <div class="navbar__menu">
        <a href="/projects" class="navbar__link" aria-label="Visit projects page">/projects</a>
        <a href="/blog" class="navbar__link" aria-label="Visit blog page">/blog</a>
        <ThemeIcon />
    </div>
</nav>

<style>
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .navbar__title {
        font-family: var(--header);
        font-size: 1.3rem;
        text-decoration: none;
        color: white;
    }

    .navbar__menu {
        display: flex;
        justify-content: center;
        gap: 1rem;
        font-family: var(--body);
        font-size: 1.1rem;
        align-items: baseline;
    }

    .navbar__link {
        color: white;
        text-decoration: none;
    }

    .navbar__link:hover,
    .navbar__link:focus {
        text-decoration: underline var(--brand);
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
    }

    :global(.light .navbar__title),
    :global(.light .navbar__link) {
        color: black;
    }

    @media (min-width: 600px) {
        .navbar {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            padding: 0.8rem 1rem;
        }

        .navbar__menu {
            justify-content: flex-end;
        }
    }
</style>
