---
import BaseLayout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <article>
        <h2>{frontmatter.title}</h2>
        <slot />
        <small>
            {frontmatter.citation && <span>
                src: <a class="accent link" href={frontmatter.citation.url} target="_blank">{frontmatter.citation.name}</a>
            </span>}
            <a class="accent link right" href={frontmatter.backlink?.url || "/"}>{frontmatter.backlink?.name || "/home"}</a>
        </small>
    </article>
</BaseLayout>
