---
import BaseLayout from './Layout.astro';
import Hero from '../components/Hero.astro';
const { pageTitle } = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
    <Hero />
    <article>
        <h2>{pageTitle}</h2>
        <slot />
    </article>
</BaseLayout>
