---
import BaseLayout from './Layout.astro';
import Hero from '../components/Hero.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <Hero />
    <article>
        <h2>{frontmatter.title}</h2>
        <slot />
        <small>
            <a class="accent link right" href={frontmatter?.backlink || "/"}>{frontmatter?.backlink || "/home"}</a>
        </small>
    </article>
</BaseLayout>
